.button {
  text-decoration: none;
  display: inline-block;
  background-color: $primary-color;
  border: none;
  color: white;
  border-radius: 5px;
  border: 1px solid darken($primary-color, 10%);
  border-bottom: 4px solid darken($primary-color, 10%);
  font-size: 1.05em;
  font-weight: bold;
  font-family: 'Nunito';
  min-width: 200px;
  transition: .3s;
  padding: .9em .5em;
  text-align: center;

  &__icon {
    margin-right: 5px;
  }

  &:hover {
    cursor: pointer;
    background-color: darken($primary-color, 5%);
  }

  &--success {
    background-color: $success-color;
    border-color: darken($success-color, 10%);

    &:hover {
      background-color: darken($success-color, 5%);
    }
  }

  &--danger {
    background-color: $danger-color;
    border-color: darken($danger-color, 10%);

    &:hover {
      background-color: darken($danger-color, 5%);
    }
  }

  &--icon {
    padding: .25em .5em;
    min-width: auto
  }


  &--small {
    min-width: 100px;
    padding: .4em .8em;
    font-size: .9rem
  }
}
