.order {
  &__list {
    margin: 0;
    padding: 0;
    border-radius: 5px;
  }

  &__item {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 2em;
    border-bottom: 1px solid #f5f5f5;
  }

  &__item-img {
    width: 100px;
  }

  &__item-product {
    flex: 1;
  }

  &__item-amount {
    font-weight: bold;
    display: inline-block;
    margin: 0 .7em;
  }

  &__link {
    display: flex;
    align-items: center;
  }

  &__thumbnail {
    width: 100px;
  }
}
