@import "variables";
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
 margin: 0;
 font-family: 'Nunito', sans-serif;
 background-color: #ebeff5;
}

img {
  width: 100%;
  max-width: 100%;
}

h1, h2, h3 {
  margin-top: 0;
}

.main-content {
  max-width: $content-max-width;
  margin: auto;
  width: 90%;
  margin-bottom: 3em;
}


@import "font-awesome";
@import "modules/typeography";
@import "modules/grid";
@import "modules/product";
@import "modules/button";
@import "modules/media";
@import "modules/order";
@import "modules/card";
@import "modules/shopping-cart";
@import "modules/form-field";
@import "modules/text-field";
@import "modules/meals";
@import "modules/centered-container";
@import "modules/table";
@import "modules/link";
@import "modules/admin-navbar";
@import "modules/main-navbar";
@import "modules/alerts";
@import "modules/action-bar";
@import "modules/hero";
@import "modules/page-section";
@import "modules/text";
